html{

scroll-behavior: smooth;

}


.frontbody{
    width: 100%;
    height: 80vh;
    background-color: rgb(224, 232, 247);
    background-attachment: fixed;
    border-bottom: 2px gradient rgb(41, 41, 133);
    position:relative ;
    border-radius: 10px;
    border-width: 70px;
}
.welcome{
    width: 80%;
    height:80%;
    padding: 50px 3px;
    margin: 25px 50px;
    position: relative;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}
.welcome h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px -11px;
    color: rgb(11, 69, 71);
}
.welcome p {
    margin-bottom: 20px;
}
.landing-text{
    width: 40%;
    height: 40%;
    margin-right: 40%;
    float:left;
}
.front{
    width:60% ;
    float: right;
    position: relative;
    padding: 3% 12%;
}
.front img{
    width: 75%;
    object-fit: contain;
    margin-left: 400px;
    margin-top: -59px;
    border-radius: 10px;
}
.about{
    width: 80%;
    height:80%;
    margin: 0% 3%;
    position: relative;
    padding: 33px 10px;
}
.textt{
    width: 40%;
    height: 40%;
    margin-right: 40%;
    float:left;
  font-size: 20px;
}
.textt p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}
.text p{
    margin-right:32%;
    margin-left: 30px;
}
.divider {
    border: none;
    border-top: 2px solid #000;
    margin: 100px -20px;
}
.bordered-paragraph {
    position: relative;
    display: inline-block;
}
.bordered-paragraph::before {
    content: "";
    position: absolute;
    top: 75%;
    left: 10%;
    right: 20%;
    width: 100%;
    height: 80%;
    transform: translateY(-50%);
    z-index: -1;
    border: 20px solid;
    border-color: rgb(218, 228, 232);
    background-color: rgb(218, 228, 232);
}
.university{
    width: 80%;
    height:80%;
    margin: 0% 3%;
    position: relative;
    padding: 90px 10px;
}
.unitext{
    width: 40%;
    height: 40%;
    margin-right: 40%;
    float:left;
    font-size: 20px;
}
.unitext p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}
.university-list {
    list-style-type: none;
    padding: 0, 5%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
  .university-list li {
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 13px;
    margin: 10px 15px;
}
.university-list li a {
    padding: 5px 20px;
    display: inline-block;
    background-color: rgb(218, 228, 232);
    color: #333;
    text-decoration: none;
    border-radius: 10px;
}
.university-list li a:hover {
    background-color: #ddd;
} 
.stitle {
    width: 40%;
    margin: 0 auto;
    font-size: 40px;
    color: #23242a;
    font-weight: bold;
    text-align: center;
}
.stext {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}
.get_bt {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.get_bt a{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(22, 39, 64);
    border-radius: 40px;
    padding: 10px 0px;
    margin-top: 40px;
    text-decoration: none;
}
.services{
    width: 100%;
    float: left;
    background-color: rgb(218, 228, 232);
    height: auto;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 50px;
    background-repeat: no-repeat;
}
.categoriesbody{
    text-align: center;
    background-color: #caccf8;
    background-image: url(images/white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background: rgb(238, 232, 250);
    border-radius: 10px;
    display: inline-block;
    height: 220px;
    margin: 1rem;
    position: relative;
    width: 400px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style:groove;
}
.banner{
    background-color: #f9f9fe;
    padding:5px;
    display: block;
    background: linear-gradient(90deg, rgba(251, 251, 253, 0.373) 0%, rgba(170,181,255,0.5215336134453781) 53%);       
}
.nav{
    padding: 0% 0% ;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.navbar li{
    list-style: none;
    margin:0 30px;
    display:inline-block;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    color:rgb(15, 50, 65);
    font-weight:300;
    font-size: 15px;
    font-family: 'Poppins', sans-serif  ;
}
.navbar li ::after{
    content:"";
    height:3px;
    width:0;
    position:absolute;
    left:0;
    bottom:-10px;
    background-color: aliceblue;
    transition: 0.5s;
}
.navbar li :hover::after{
    width:100%;
}
.cp{
    color:rgb(15, 50, 65);
    margin-left:110px;
    margin-top: -20px;
    display:flex;
    padding:6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.btn{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #bbc8eb;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
a :hover{
    background-color: rgb(167, 160, 248);
    transform: scale(1.3);
    transition:0.4s;
}

.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px;
}
.card h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(198, 212, 239);
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    margin-left: 30px;
    margin-right: 30px;
}     
.services{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.docbody{
    background-color: #ffffff;
}
.logout{
    border-radius: 30px;
    background-color:#caccf8;
    margin: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.profile{
    background: #ffffff;
    border-radius: 10px;

    margin-top: 15px;
    margin-left: 60px;
    position: relative;
    width: 90%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(images/white.png);
    background-repeat: repeat-y;
    background-size: cover;
}
.profimg{
    border-radius: 60%;
    width:36%;
    margin-left: 25%;
    margin-top:15%;
    margin-bottom: 20%;
}
.details{
    float:left;
    margin-top: 6em;
    margin-left: -40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.loginbody{
    text-align:center;
    background-color: rgb(243, 245, 253);
    background-image:url(images/white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.loginimg{
    margin-top:50px;
    width: 17%;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-size: large;
    color: rgb(108, 126, 192);
}
#signin-btn {
    border-radius: 10px;
    margin-top: 15px;
    font-size: larger;
    width: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: rgb(0, 0, 0);
    background-color: rgb(195, 180, 208);
    cursor: pointer;
}
.field{
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    font-size: large;
    background-color: rgb(254, 254, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:10px;
}
.apts{
    text-align: center;
}
.status h2{
    background-color: #caccf8;
    padding: 10px;
    border-radius: 5px;
    margin: 8px;
}
.statustable{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
}
.bookbody{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 232, 247);
}
.all{
    position: relative;
    max-width: 700px; 
    width: 100%;
    background: white;
    padding: 90px;
    border-radius: 8px;
}
.all header{
    font-size: 40px;
    color: rgb(11, 69, 71);
    font-weight: 500;
    text-align: center;
}
.all form{
  margin-top: 40px;
}
.form .input-box{
  width: 100%;
  margin-top: 20px;
}
.input-box label{
  color: #333;
}
.form .input-box input{
  position:relative ;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd ;
  font-size: 14px;
  color: gray;
  margin-top: 8px;
  border-radius: 6px;
  padding: 0px 15px;
}
.form .column{
  display: flex;
  column-gap: 9%;
}
.form .gender-check{
  margin-top: 20px;
}
.gender input{
  accent-color:  rgb(22, 39, 64) ;
}
.gender label{
  color: gray;
}
.genderoption, .gender {
  display: flex;
  align-items: center;
  column-gap: 9%;
}
.gender-check h3{
  color: #333;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender input, .gender label){
  cursor: pointer;
}
.input-box .selectoption {
  position:relative ;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd ;
  font-size: 14px;
  color: gray;
  margin-top: 8px;
  border-radius: 6px;
  padding: 0px 15px;
}
.selectoption select{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: gray;
  font-size: 14px;
  cursor: pointer;
}
.form #sub{
  margin-left: 25%;
  height: 45px;
  width:40%;
  background-color: rgb(22, 39, 64) ;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 10px 0px;
  margin-top: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ;
}
.form #sub:hover{
  background-color: rgb(156, 204, 217) ;
}
.appttime{
    cursor:pointer; 
    margin-top: 20px;
}
.appttime label{
    color: #333;
}
input[type=time] {
    border-radius: 7px;
    color: #a1a9ad;
    font-size: 17px;
    text-align: center;
    width: 180px;
    cursor: pointer;
    border-color: #e0e5e7;
}
.status-cell{
    padding: 5px 20px;
    text-align: left;
    background-color: rgb(225, 233, 239);
    border-radius: 10px;
    border-style:solid;
    border-color:#c4cdd2;
}
.uniloginbody{
    text-align: center;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.unilogin{
    width: 30%;
}
.input{
    padding:10px;
}
.unipageheader{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:80px;
    color:#383c4d;
    margin-top:20px;
}
.uniform label{
    color:rgb(2, 0, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.uniform{
    border-radius: 15px;
    margin-left:15px;
    float:left;
    background-color:rgb(241 234 234 /70%);
}
.uniform input{
    border-radius: 3px;
    width: 90%;
    padding:7px;
}
.addbtn{
    background-color: #ffffff;
    margin-left:127px;
    cursor: pointer;
    margin-bottom: 8px;
}
.std_data_table {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.std_data_table h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#383c4d;
}
.std_data_table th, .std_data_table td{
    border: 2px solid gray;
    padding:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.std_data{
    border-collapse: collapse;
}
.unilog{
    background-color: #bbdaeb;
}
.unibody{
    background-image: url("images/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.acceptBtn, .completeBtn, .removeCaseBtn, .absentCaseBtn {
    display: flex;
    justify-items: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.acceptBtn {
    background: rgb(78, 171, 78);
}

.completeBtn {
    background: rgb(171, 132, 78);
}

.acceptBtn svg, .completeBtn svg, .removeCaseBtn svg, .absentCaseBtn svg {
    padding: 8px 5px;
}

#uni-nav {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#welcome-header {
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Segoe Ui', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-university {
    margin: 0 100px;
    display: grid;
    grid-template-columns: auto auto;
}

#status-head th {
    width: 33%;
}

.removeCaseBtn {
    fill: white;
    background-color: #d35353;
}

.absentCaseBtn {
    fill: white;
    background-color: #d35353;
}

.options-buttons-text {
    text-decoration: overline 1px grey;
    margin-bottom: 10px;
}

.case_button_container {
    display: flex;
    align-self: flex-start;
    margin-top: 1.2em;
}


.case-late {
    background: #ede1e1;
    border-color: #d1c4c4;
}