.frontbody{
    background: #caccf8; 
}
.categoriesbody{
    text-align: center;
    background-color: #caccf8;
}
.card{
    background: #ffffff;
    border-radius: 10px;
    display: inline-block;
    height: 220px;
    margin: 1rem;
    position: relative;
    width: 400px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banner{
    background-color: #caccf8;
    padding:5px;
    display: block;
    background: linear-gradient(90deg, rgba(63,94,251,0.37307422969187676) 0%, rgba(170,181,255,0.5215336134453781) 53%);
        
}
.nav{
    align-items: center;
    justify-content: space-between;
    display:flex;
    width:90%;
    margin:auto;
}
.denv{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(15, 50, 65);   
}
.navbar li{
    list-style: none;
    margin:0 30px;
    display:inline-block;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    color:rgb(15, 50, 65);
}
.navbar li ::after{
    content:"";
    height:3px;
    width:0;
    position:absolute;
    left:0;
    bottom:-10px;
    background-color: aliceblue;
    transition: 1s;
}
.navbar li :hover::after{
    width:100%;
}
.cp{
    color:rgb(15, 50, 65);
    margin-left:110px;
    margin-top: -20px;
    display:flex;
    padding:6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.welc{
    margin-left:100px;
    margin-top:150px;
    font-size: 5vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(15, 50, 65);
    
}
.intro{
    margin-left:100px;
    margin-right:800px;
    font-size:large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.pic{
    width:50%;
    margin-left: 50%;
    margin-top:-15%;
}
.about h2{
    margin-left:100px;
    margin-top:150px;
    font-size: 5vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(15, 50, 65);}
.about p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    margin-left: 100px;
    margin-right:900px;
}
.page{
    align-items: left;
}
.btn{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #bbc8eb;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
a :hover{
    background-color: rgb(167, 160, 248);
    transform: scale(1.3);
    transition:0.4s;
}

.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px;
}
.card h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(198, 212, 239);
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    margin-left: 30px;
    margin-right: 30px;
}     
.services{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.docbody{
    background-color: #caccf8;
}
.logout{
    border-radius: 30px;
    background-color:#caccf8;
    margin: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.profile{
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    height: 670px;
    margin-top: 15px;
    margin-left: 60px;
    position: relative;
    width: 90%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profimg{
    border-radius: 60%;
    width:36%;
    margin-left: 25%;
    margin-top:-40%;
    margin-bottom: 20%;;
}
.details{
    float:left;
    margin-top:40%;
    margin-left:-40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.status h2{
    background-color: #caccf8;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.status{
    margin-top:25%;
}